.img-rounded {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100%;
  overflow: hidden;
  background-color: #F9F9F9;
}

.livep-card {
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 8px -2px rgba(0, 0, 0, 0.2);

    &-body {
        padding: 24px 16px;
    }

    &-footer {
        padding: 8px 16px;
        background-color: #F9F9F9;

        .action-primary,
        .action-secondary {
            display: inline-flex;
            font-size: 16px;
            cursor: pointer;
        }

        .action-primary {
            position: relative;
            margin-left: auto;
            background-color: #437EF2;
            color: white !important;
            padding: 8px 16px;
            border-radius: 5px;

            &:active,
            &:focus,
            &:hover {
                background-color: hsl(220, 87%, 51%);
            }
        }

        .action-noti {
            $width: 8px;
            position: absolute;
            top: -$width / 4;
            right: -$width / 4;
            width: $width;
            height: $width;
            border-radius: 100%;
            background-color: #fd1010;
        }

        .action-secondary {
            color: #437EF2 !important;
        }
    }

    .group-h {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 16px;
    }
}

.o_kanban_view {
    .o_kanban_record_neutral:focus,
    .o_kanban_record_neutral:focus-within {
        box-shadow: 1px 2px 8px -2px rgba(0, 0, 0, 0.2);
    }

    .o_kanban_record_neutral {
        margin: 8px !important;
        border: none;
        padding: 0;
        flex: 1 1 auto !important;
    }
}