.product-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.product-info {
  font-size: 13px;
}

.product-name {
  display: flex;
  font-size: 15px;
  font-weight: 700;
  color: #2D2D2D;
  margin-bottom: 0.25rem;
}

.product-name > .status-icon {
  margin-left: 8px;
  flex-shrink: 0;
}

.product-price {
  font-weight: 700;
  color: #B82704;
}