.bg_white { background: white; }
.bg_gray { background: rgba(0, 0, 0, 0.2); }

.doc_search_container {
    width: 100%;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-top: $breadcrumbs-height;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.75);
    .doc_search_left_nav {
        width: 20%;
        @media(max-width: 860) { width: 100%; }
        padding: 20px 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        .doc_filter_title {
            width: 100%;
            padding: 0 7%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .doc_filter_category {
            padding: 4% 0;
            ul {
                width: 100%;
                padding: 2% 0;
                list-style: none;
                .filter_all {
                    margin-bottom: 10px;
                    color: rgba(0, 81, 177, 0.8);
                }
                li {
                    padding: 2.5% 7%;
                    font-size: 15px;
                    a { width: 100%; }
                    &:hover {
                        cursor: pointer;
                        background: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
    .doc_search_content_outer {
        width: 79%;
        padding: 20px 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        .doc_search_content_header {
            width: 100%;
            padding: 0 2%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            p { color: rgba(0, 0, 0, 0.5); }
            .no_match_search {
                font-size: 18px;
                color: red;
            }
        }
        .doc_search_content {
            padding: 2%;
            .search_doc_box {
                padding: 1% 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                p { margin-bottom: 0; }
                a { color: black; }
                .search_doc_text { margin-left: 15px; }
            }
        }
    }
}

@media (min-width: 861px) and (max-width: 1100px) {
    .doc_search_container {
        .doc_search_left_nav {
            width: 25%;
        }
        .doc_search_content_outer {
            width: 74%;
        }
    }
}

@media (min-width: 681px) and (max-width: 860px) {
    .doc_search_container {
        .doc_search_left_nav {
            width: 35%;
        }
        .doc_search_content_outer {
            width: 64%;
        }
    }
}

@media (max-width: 680px) {
    .doc_search_container {
        .doc_search_left_nav {
            width: 100%;
            margin-bottom: 20px;
            .doc_filter_title { padding: 0 5%; }
            .doc_filter_category { padding: 3%; }
        }
        .doc_search_content_outer {
            width: 100%;
            .doc_search_content {
                padding: 2% 3%;
            }
        }
    }
}