.border-neutral-200,
.focus\:border-neutral-200:focus,
.active\:border-neutral-200:active {
  border-color: #DEDFE1 !important;
}

.border-error-500 {
  border-color: #EC4D4D !important;
}

.lspace-4 {
  letter-spacing: 4px !important;
}

.gap-1 {
  gap: 8px !important;
}

.gap-2 {
  gap: 16px !important;
}

.bg-primary-100 {
  background-color: #EFF5FE !important;
}

.bg-primary-500 {
  background-color: #437EF2 !important;
}

.bg-neutral-100,
.hover\:bg-neutral-100:hover {
  background-color: #F6F6F7 !important;
}

.bg-error-500 {
  background-color: #EC4D4D !important;
}

.hover\:bg-white :hover {
  background-color: white !important;
}

.text-primary-500 {
  color: #437EF2 !important;
}

.text-neutral-500 {
  color: #90949C !important;
}

.text-neutral-700 {
  color: #575A60 !important;
}

.text-error-500 {
  color: #EC4D4D !important;
}

.outline-none {
  outline: none !important;
}
