.sol_delivery_carrier {
    ul {
        label {
            margin: 0;
        }
    }
}
.sp_del_opt_header {
    margin: 0;
}
@media (max-width: 991px) {
    .sp_del_opt_header {
        font-size: 0.875rem;
    }
}
@media (max-width: 767px) {
    .sp_del_opt_header {
        font-size: 0.875rem;
    }
}
