<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">

    <!-- <t t-extend="ControlPanel">
    	<t t-jquery="div.o_control_panel" t-operation="prepend">
             <div class="toggle visible-sm visible-xs">
                <div class="text-right">
                    <a class="toogle_cp" title="Toggle ControlPanel">
                        <i class="fa fa-compress"></i>
                    </a>
                </div>
            </div>
        </t>
    </t> -->

     <t t-extend="mail.discuss.Sidebar">
        <t t-jquery="span.o_thread_name:eq(0) i" t-operation="replace">
            <i class="fa fa-envelope mr8"/>
        </t>
     </t>

    <t t-extend='Menu'>
        <t t-jquery=".o_menu_systray" t-operation="after">
            <div class="sub_menu">
                <i class="fa fa-bars"/>
            </div>
        </t>
        <t t-jquery=".o_menu_brand" t-operation="before">
            <span class="brand-livep">
                <img class="img-fluid" src="backend_theme_manon/static/src/img/livep_logo.png" alt="live plaza logo" />
            </span>
        </t>
    </t>

    <t t-extend="SearchView.SearchBar">
        <t t-jquery="input" t-operation="before">
            <i class="fa fa-search"></i>
        </t>
    </t>

    <t t-extend="Pager">
        <t t-jquery=".o_pager_counter" t-operation="replace">
            <span class="o_pager_counter">
                Showing <span class="o_pager_value"></span> of <span class="o_pager_limit"></span> results
            </span>
        </t>
    </t>

    <t t-extend="ControlPanel">
        <t t-jquery=".o_control_panel .o_cp_pager" t-operation="replace"></t>
        <t t-jquery=".o_control_panel .o_cp_switch_buttons" t-operation="replace"></t>
        <t t-jquery=".o_control_panel" t-operation="append">
            <div class="mt-1">
                <div class="o_cp_left">
                    <nav class="btn-group o_cp_switch_buttons" role="toolbar" aria-label="View switcher"/>
                </div>
                <div class="o_cp_right">
                    <nav class="o_cp_pager" role="search" aria-label="Pager"/>
                </div>
            </div>
        </t>
    </t>

</templates>
