.feeling {
  background-color: #ffffff;
  padding: 16px;
  margin: 32px auto 16px;
  
  .feeling-title {
    color: #343a40;
    font-size: 20px;
    margin-bottom: 16px;
  }

  .feeling-emoji {
    max-width: 32px;
    margin: auto;
  }

  .feeling-text {
    margin: 8px auto 0;
    text-align: center;
    color: #3b3b3b;
    font-size: 16px;
    font-weight: 400;
  }
}
