/* Color palette added by livep */

$bg-header: #0051B1; //@header-backgroung-color
$th-color: #0070E0;  //@main-text-button-color
$mn-text: #1B1B1B;   //@head-text-color @product-heading
$text-color: #5D5D5D; //@text-color
$border: #F2F2F2;  //@product-border
$white: white;  //@header-text-color
$bg-body:#F0F3F4;
$danger: #F24235;
$grid_icon: "../../icon/svg/grid-view-primary.svg";
$list_icon: "../../icon/svg/list-view-primary.svg";
