$clr-neutral-400: #A6A9AE;
$clr-neutral-500: #90949C;
$clr-neutral-600: #71757D;
$clr-neutral-900: #232527;
$clr-primary-400: #649AF6;

.saleorder-card {
  p {
    margin: 0;
    line-height: 1em;
  }

  .order-info {
    color: $clr-neutral-500;
    font-size: 14px;

    .order-number {
      color: $clr-neutral-600;
      font-size: 18px;
      margin-left: 4px;
    }

    .order-date {
      color: $clr-neutral-400;
      font-size: 12px;
      margin-top: 4px;
    }
  }

  .customer-info {
    font-size: 12px;
    font-style: italic;
    color: $clr-neutral-400;

    .customer-name {
      font-weight: 700;
      font-style: normal;
      color: $clr-neutral-600;
    }
  }

  .product-info {
    text-align: right;
    margin-bottom: 12px;

    .product-name {
      color: $clr-primary-400;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .seller-info {
      font-size: 12px;
      font-style: italic;
      color: $clr-neutral-400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .seller-name {
        font-style: normal;
        font-weight: 700;
      }
    }
  }

  .quantity-info {
    font-size: 14px;
    text-align: right;
    color: $clr-neutral-400;
    margin-bottom: 12px;

    .quantity {
      font-weight: 700;
    }
  }

  .payment-info {
    text-align: right;

    .price-info {
      font-size: 14px;
      color: $clr-neutral-400;
      margin-bottom: 4px;

      .currency {
        color: $clr-neutral-900;
      }

      .amount {
        font-size: 20px;
        color: $clr-neutral-900;
      }
    }
    
    .method-info {
      font-size: 12px;
      font-style: italic;
      color: $clr-neutral-400;

      .method {
        font-style: normal;
        font-weight: 700;
      }
    }
  }

  .approval-status {
    color: $clr-neutral-400;
    font-size: 12px;
    margin-left: auto;
    
    + a {
      margin-left: unset;
    }
  }
}