.aspect-square {
  aspect-ratio: 1;
}

.object-cover {
  object-fit: cover;
}

.gap-0 {
  gap: 0 !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

.gap-4 {
  gap: 1.5rem !important;
}

.gap-5 {
  gap: 3rem !important;
}

.text-neutral-900 {
  color: #232527 !important;
}

.border-neutral-200,
.focus\:border-neutral-200:focus,
.active\:border-neutral-200:active {
  border-color: #DEDFE1 !important;
}

.focus\:border-neutral-500:focus {
  border-color: #90949C !important;
}

.border-error-500 {
  border-color: #EC4D4D !important;
}

.lspace-4 {
  letter-spacing: 4px !important;
}

.bg-primary-100 {
  background-color: #EFF5FE !important;
}

.bg-primary-500 {
  background-color: #437EF2 !important;
}

.bg-neutral-100,
.hover\:bg-neutral-100:hover {
  background-color: #F6F6F7 !important;
}

.bg-error-500 {
  background-color: #EC4D4D !important;
}

.hover\:bg-white :hover {
  background-color: white !important;
}

.text-primary-500 {
  color: #437EF2 !important;
}

.text-neutral-500 {
  color: #90949C !important;
}

.text-neutral-700 {
  color: #575A60 !important;
}

.text-error-500 {
  color: #EC4D4D !important;
}

.outline-none {
  outline: none !important;
}

@include media-breakpoint-up(sm) {
  .sm\:flex-row {
    flex-direction: row !important;
  }

  .sm\:gap-3 {
    gap: 1rem;
  }

  .sm\:w-50 {
    width: 50% !important;
  }

  .p-0 {
    padding: 0 !important;
  }
}

@include media-breakpoint-up(md) {
  .md\:flex-column {
    flex-direction: column !important;
  }

  .md\:w-100 {
    width: 100% !important;
  }
}

@include media-breakpoint-up(lg) {
  .lg\:flex-column {
    flex-direction: column !important;
  }

  .lg\:w-100 {
    width: 100% !important;
  }
}
