:root {
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(0, 0%, 93%);
  --color-neutral-300: hsl(0, 0%, 73%);
  --color-neutral-600: hsl(0, 0%, 36%);
  --color-neutral-800: hsl(0, 0%, 11%);
  --color-neutral-900: hsl(0, 0%, 0%);

  --color-primary-300: hsl(213, 90%, 46%);
  --color-primary-400: hsl(210, 100%, 44%);
  --color-primary-500: hsl(213, 100%, 35%);
  --color-primary-600: hsl(212, 100%, 29%);

  --color-accent-400: hsl(114, 42%, 54%);
  --color-warning-400: hsl(4, 88%, 58%);

  --fs-200: 0.75rem;
  --fs-300: 0.825rem;
  --fs-400: 1rem;
  --fs-600: 1.5rem;

  --fw-medium: 500;
  --fw-bold: 600;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 0.825rem;
  --size-500: 1rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 2.5rem;
  --size-900: 3rem;

  --size-icon: 1.25rem;
}

/* Reset start here */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A need should not decorate */
a {
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Utilities */

.container {
  --padding: var(--size-500);
  --max-width: 1120px;
  margin-inline: auto;
  max-width: min(var(--max-width), 100vw - var(--padding)*2);
}


/* Components */

.lp-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-weight: var(--fw-medium);
}

.lp-btn[data-type="solid"] {
  background-color: var(--color-primary-400);
  text-transform: uppercase;
  padding: 0.625rem 0.75rem;
  color: var(--color-neutral-100);
  fill: var(--color-neutral-100);
}

.lp-btn[data-type="outline"] {
  border: 1px solid var(--color-primary-400);
  text-transform: uppercase;
  padding: 0.625rem 0.75rem;
  color: var(--color-primary-400);
  fill: var(--color-primary-400);
}

.lp-btn .lp-btn__badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -12px;
  right: -10px;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  background-color: var(--color-warning-400);
  font-size: 0.625rem;
}

.svg-icon {
  display: inline-flex;
  align-items: center;
  width: calc(var(--size-icon) * var(--svg-scale, 1));
  height: calc(var(--size-icon) * var(--svg-scale, 1));
}

/* Slidein */

:where(.slidein:not([data-media])) {
  position: fixed;
  min-width: 320px;
  inset: 0 auto 0 0;
  transform: translateX(-100%);
  transition: transform 200ms linear;
  z-index: 10;
}

:where(.slidein:not([data-media]))[data-type="right"] {
  inset: 0 0 0 auto;
  transform: translateX(100%);
}

:where(.slidein:not([data-media])).active {
  transform: none;
}

:where(.slidein:not([data-media])).active::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -100;
}

:where(.slidein:not([data-media])) > .slidein__wrapper {
  --slidein-padding-inline: var(--size-500);
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-100);
  height: 100%;
}

:where(.slidein:not([data-media])) > .slidein__wrapper > .slidein__title {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-400);
  color: var(--color-neutral-900);
  padding: var(--size-400) var(--slidein-padding-inline);
  background-color: var(--color-neutral-200);
}

:where(.slidein:not([data-media])) > .slidein__wrapper > .slidein__body {
  flex-grow: 1;
  position: relative;
  margin-inline: var(--slidein-padding-inline);
}

@media(max-width: 48em){
  .slidein[data-media="sm"] {
    position: fixed;
    min-width: 320px;
    inset: 0 auto 0 0;
    transform: translateX(-100%);
    transition: transform 200ms linear;
    z-index: 10;
  }

  .slidein[data-media="sm"][data-type="right"] {
    inset: 0 0 0 auto;
    transform: translateX(100%);
  }

  .slidein[data-media="sm"].active {
    transform: none;
  }

  .slidein[data-media="sm"].active::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -10;
  }

  .slidein[data-media="sm"] > .slidein__wrapper {
    --slidein-padding-inline: var(--size-500);
    display: flex;
    flex-direction: column;
    background-color: var(--color-neutral-100);
    height: 100%;
  }

  .slidein[data-media="sm"] > .slidein__wrapper > .slidein__title {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-400);
    color: var(--color-neutral-900);
    padding: var(--size-400) var(--slidein-padding-inline);
    background-color: var(--color-neutral-200);
  }

  .slidein[data-media="sm"] > .slidein__wrapper > .slidein__body {
    flex-grow: 1;
    position: relative;
    margin-inline: var(--slidein-padding-inline);
  }
}

@media(min-width: 48em){
  .slidein[data-media="md"] {
    position: fixed;
    min-width: 320px;
    inset: 0 auto 0 0;
    transform: translateX(-100%);
    transition: transform 200ms linear;
    z-index: 10;
  }

  .slidein[data-media="md"][data-type="right"] {
    inset: 0 0 0 auto;
    transform: translateX(100%);
  }

  .slidein[data-media="md"].active {
    transform: none;
  }

  .slidein[data-media="md"].active::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -10;
  }

  .slidein[data-media="md"] > .slidein__wrapper {
    --slidein-padding-inline: var(--size-500);
    display: flex;
    flex-direction: column;
    background-color: var(--color-neutral-100);
    height: 100%;
  }

  .slidein[data-media="md"] > .slidein__wrapper > .slidein__title {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-400);
    color: var(--color-neutral-900);
    padding: var(--size-400) var(--slidein-padding-inline);
    background-color: var(--color-neutral-200);
  }

  .slidein[data-media="md"] > .slidein__wrapper > .slidein__body {
    flex-grow: 1;
    position: relative;
    margin-inline: var(--slidein-padding-inline);
  }
}

/* Tabs */

:where(.tabs:not([data-media])) {
  display: flex;
}

:where(.tabs:not([data-media])) .tab {
  flex: 1 0;
  text-align: center;
  color: var(--color-neutral-100);
  background-color: var(--color-primary-500);
  padding-block: var(--size-400);
}

:where(.tabs:not([data-media])) .tab.active {
  color: var(--color-neutral-600);
  background-color: var(--color-neutral-100);
}

:where(.tab-content:not([data-media])) [data-tab-content] {
  display: none;
}

:where(.tab-content:not([data-media])) .active[data-tab-content] {
  display: initial;
}

@media(max-width: 48em){
  .tabs[data-media="sm"] {
    display: flex;
  }

  .tabs[data-media="sm"] .tab {
    flex: 1 0;
    text-align: center;
    color: var(--color-neutral-100);
    background-color: var(--color-primary-500);
    padding-block: var(--size-400);
  }

  .tabs[data-media="sm"] .tab.active {
    color: var(--color-neutral-600);
    background-color: var(--color-neutral-100);
  }

  .tab-content[data-media="sm"] [data-tab-content] {
    display: none;
  }

  .tab-content[data-media="sm"] .active[data-tab-content] {
    display: initial;
  }
}

/* Product */

.product-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-list__remove {
  fill: var(--color-neutral-300);
}

.product-list__item {
  display: flex;
  gap: var(--size-400);
  padding-block: var(--size-400);
  border-bottom: 1px solid var(--color-neutral-200);
}

.product {
  display: flex;
  align-items: center;
  gap: var(--size-500);
}

.product__image {
  max-height: 60px;
}

.product__info {
  display: flex;
  flex-direction: row;
  gap: var(--size-600);
  align-items: flex-end;
}

.product__group {
  display: flex;
  flex-direction: column;
}

.product__main {
  color: var(--color-neutral-900);
  font-size: var(--fs-300);
}

.product__sub {
  color: var(--color-neutral-600);
  font-size: var(--fs-300);
}

.product__price {
  color: var(--color-neutral-900);
  font-weight: var(--fw-medium);
  font-size: var(--fs-400);
}

/* General Styling */

body {
  font-family: sans-serif;
}

.header-primary {
  box-shadow: 1px 0px 8px #00000029;
  padding: 0;
}

.header-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 14px 0;
  color: var(--color-neutral-100);
  fill: var(--color-neutral-900);
  gap: var(--size-300);
}

.brand {
  margin-right: auto;
}

.logo-desktop {
  max-height: 2rem;
  display: none;
}

.logo-mobile {
  max-height: 1.75rem;
}

.search-box {
  display: none;
  font-size: var(--fs-300);
  color: var(--color-neutral-600);
  flex-grow: 1;
  max-width: 32.5rem;
}

.search-box * {
  color: inherit;
  outline: none;
}

.search-box select {
  padding: var(--size-100) var(--size-200);
}

.search-box input {
  padding: var(--size-100) var(--size-200);
  flex-grow: 1;
}

.search-box input::placeholder {
  color: var(--color-neutral-300);
}

.search-box input:-ms-input-placeholder {
  color: var(--color-neutral-300);
}

.search-box input::-ms-input-placeholder {
  color: var(--color-neutral-300);
}

.lp-btn-account {
  display: none;
}

.navbar-header {
  display: inline-flex;
  gap: var(--size-500);
}

/* Main Navbar */

.navbar-main-close {
  display: none;
  position: fixed;
  inset: 0;
  z-index: -1;
}

.navbar-main.active .navbar-main-close {
  display: block;
}

#menu ul,
#category ul {
  display: flex;
  flex-direction: column;
  color: var(--color-neutral-600);
}

#menu ul li,
#category ul li {
  padding-block: var(--size-200);
}

#menu ul li a,
#category ul li a {
  color: inherit;
  text-decoration: none;
}

#category .slidein__title {
  display: none;
}

/* Compare list and Shopping cart*/

#compare-list-slidein,
#shopping-cart-slidein {
  min-width: 270px;
}

.lp-btn-compare,
.lp-btn-checkout,
.lp-btn-viewcart {
  position: absolute;
  inset: auto 0 var(--size-800) 0;
  align-self: flex-end;
  border-radius: var(--size-100);
}

.lp-btn-viewcart {
  margin-bottom: 3.5rem;
}

.invoice-line {
  display: flex;
  font-size: var(--fs-400);
  padding-block: var(--size-200);
}

.invoice-line[data-type="disabled"] {
  color: var(--color-neutral-300);
}

.invoice-line[data-type="end"] {
  border-top: 1px solid var(--color-neutral-200);
}

.invoice-line[data-type="end"] > * ~ * {
  font-weight: var(--fw-bold);
}

.invoice-line * {
  flex: 1 0;
  text-align: end;
}


/* Media queries */

@media(min-width: 48em){
  .container {
    --padding: 4%;
  }

  .header-primary {
    background-color: var(--color-primary-500);
  }

  .header-wrapper {
    justify-content: space-between;
    color: var(--color-neutral-100);
    fill: var(--color-neutral-100);
    padding: var(--size-600) 0;
  }

  .header-wrapper .lp-btn {
    fill: var(--color-neutral-100);
  }

  .navbar-header {
    gap: var(--size-700);
  }

  .search-box {
    display: flex;
  }

  .brand {
    margin: 0;
  }

  .logo-mobile {
    display: none;
  }

  .logo-desktop {
    display: block;
  }

  .btn-account {
    display: inline-flex;
  }

  /* Navbar */

  .navbar-main {
    position: relative;
    transform: none;
  }

  .navbar-main-open {
    display: none;
  }

  .navbar-main-close {
    display: none;
  }

  .navbar-wrapper {
    border-bottom: 1px solid var(--color-neutral-200);
  }

  .tabs {
    display: none;
  }

  #menu {
    display: flex;
    justify-content: space-between;
  }

  #menu ul {
    flex-direction: row;
    gap: var(--size-900);
  }

  #menu ul li {
    flex-direction: row;
    padding: var(--size-400) 0;
  }
  
  #menu ul li a:hover {
    color: var(--color-primary-500);
  }

  #menu ul li.active {
    position: relative;
    font-weight: var(--fw-bold);
    color: var(--color-primary-500);
  }

  #menu ul li.active::before {
    content: '';
    position: absolute;
    inset: 0 0 auto 0;
    height: 2px;
    background-color: var(--color-primary-500);
  }

  #category .slidein__title {
    display: flex;
  }
} /* 768px */

@media(min-width: 64em){

} /* 1024px */
@media(min-width: 85.375em){

} /* 1366px */
@media(min-width: 120em){

} /* 1920px */
@media(min-width: 160px){

} /* 2560px */